git rm --cached rundlg.exe
git rm --cached $\$.exe
git rm --cached $\v2\$.exe
git rm --cached $\v2\RenameStartButton.exe
git rm --cached $\v2\PairWindows()\PairWindows().exe
git rm --cached Setup\geinimg.exe
git rm --cached Setup\genimg.exe
git rm --cached Setup\nasm.exe
git rm --cached Setup\mkisofs\-sh.exe
git rm --cached Setup\mkisofs\mkisofs.exe
